{% extends 'maintenance/tester/maintnavbar.html' %}
{% load static %}

{% block content %}
<div>

    <a class="btn btn-danger float-right" href="{% url 'maintenance:machinedetail' machinedata.id %}">Go back</a>
    <h1><b>{{machinedata.machine_name}} - {{assemblydata.assembly_name}}</b></h1>
  </div>
  <h2>{{partsdata.part_desc}}</h2>

  <div class="list-group">
    {% for checkpointdata in checkpointsdata %}
    <!--
    <a href="maintenance/testerhomepage/{{album.id}}" class="list-group-item list-group-item-action">{{machine}}</a>
    -->

    <a href="#" class="list-group-item list-group-item-action">{{checkpointdata}}</a>
    
    {% endfor %}
  </div>

{% endblock %}