{% extends 'staf/navbarstaff.html' %}
{% load static %}
{% block content %}
<div class="text-center alert alert-dismissible alert-info">
  <button type="button" class="close" data-bs-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Resolved Issues</h4>
</div>
  

    
  {% for message in messages %}
<div class="text-center alert alert-dismissible alert-primary">
    <button type="button" class="close" data-bs-dismiss="alert">&times;</button>
    {{message}}
{% endfor %}
</div>
<br>


<div class="container">
  <div data-bs-toggle="collapse" data-bs-target="#demo2" class="alert alert-success" class>
    <h4 class="text-center">Resolved Issues</h4>
  </div>
  <div id="demo2" class="collapse" >
    <br>
    <div class="row" style="margin:1%; ">
      {% for workunit in workunits %}
      {% if workunit.status == True and workunit.verification == False %}
      <div class="card border-success mb-4" id="card-wrapper" >
        
        <div class="text-center card-header text-light bg-success">Feedback ID:{{workunit.token}}</div>
        
        <div class="card-body">
          
          <table class="table table-hover">
            <tbody>
            <tr class="table-success">
              <th scope="row">Issue</th>
              <td>{{workunit.issue}}</td>
            </tr>
            <tr >
              <th scope="row">Corrective Step</th>
              <td>{{workunit.corrective}}</td>
            </tr>
            </tbody>
          </table>
         </div>
         
          </div>
          <form action="/dateupdate/{{workunit.id}}/" method="POST" onsubmit="return func('workunit.complid.id')">
            {% csrf_token %}
          <div class="modal" id="a{{workunit.id}}">
            <div class="modal-dialog " role="document">
              <div class="modal-content">
                <div class="modal-header bg-success">
                  <h5 class="modal-title text-light">Assignment of date</h5>
                  <button type="button" class="close text-light" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table table-hover">
                    <tbody>
                    <tr class="table-success">
                      <th scope="row" name="opendate" id="opendate">opendate</th>
                      <td>{{workunit.complid.opendate}}</td>
                    </tr>
                    <tr >
                      <th scope="row" name="issue" id="issue">Issue</th>
                      <td>{{workunit.complid.issue}}</td>
                    </tr>
         <tr class="table-success">
                      <th scope="row" name="corrective" id="corrective">Corrective</th>
                      <td>{{workunit.complid.corrective}}</td>
                    </tr>
         <tr >
                      <th scope="row" name="accountdate" id="accdate{{workunit.complid.id}}">Account Date</th>
                      <td>{{workunit.complid.accountdate}}</td>
                    </tr>
                    <tr class="table-primary" id = "err{{workunit.complid.id}}" style="display: none;" >
                      <th scope="row">Error</th>
                      <td>Enter valid date </td>
                    </tr>
                 <tr class="table-success">
                      <th scope="row" name="accountdate" id="champ">Champion</th>
                      <td>{{workunit.complid.cid.user}}</td>
                    </tr>
             <tr >
              <th scope="row" >Assign Account Date</th>
              <td><input type="date" name="accdate" id="accdate" required></td>
            </tr> 
      
                    </tbody>
                  </table>
  
                 
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-info"  >Save changes</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
            </div>
        
          </form>
        
          {% endif %}
            {% endfor %}
    
          </div>
  </div>
</div>

  <!--Verified-->
  <div class="container">
    <div data-bs-toggle="collapse" data-bs-target="#demo3" class="alert alert-success" class>
      <h4 class="text-center">Verified Issues</h4>
    </div>
    <div id="demo3" class="collapse" >
      <br>
      <div class="row" style="margin:1%; ">
        {% for workunit in workunits %}
        {% if workunit.verification == True %}
        <div class="card border-success mb-4" id="card-wrapper" >
          
          <div class="text-center card-header text-light bg-success">Feedback ID:{{workunit.token}}</div>
          
          <div class="card-body">
            
            <table class="table table-hover">
              <tbody>
              <tr class="table-success">
                <th scope="row">Issue</th>
                <td>{{workunit.issue}}</td>
              </tr>
              <tr >
                <th scope="row">Corrective Step</th>
                <td>{{workunit.corrective}}</td>
              </tr>
              </tbody>
            </table>
           </div>
           
            </div>
            <form action="/dateupdate/{{workunit.id}}/" method="POST" onsubmit="return func('workunit.complid.id')">
              {% csrf_token %}
            <div class="modal" id="a{{workunit.id}}">
              <div class="modal-dialog " role="document">
                <div class="modal-content">
                  <div class="modal-header bg-success">
                    <h5 class="modal-title text-light">Assignment of date</h5>
                    <button type="button" class="close text-light" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <table class="table table-hover">
                      <tbody>
                      <tr class="table-success">
                        <th scope="row" name="opendate" id="opendate">opendate</th>
                        <td>{{workunit.complid.opendate}}</td>
                      </tr>
                      <tr >
                        <th scope="row" name="issue" id="issue">Issue</th>
                        <td>{{workunit.complid.issue}}</td>
                      </tr>
           <tr class="table-success">
                        <th scope="row" name="corrective" id="corrective">Corrective</th>
                        <td>{{workunit.complid.corrective}}</td>
                      </tr>
           <tr >
                        <th scope="row" name="accountdate" id="accdate{{workunit.complid.id}}">Account Date</th>
                        <td>{{workunit.complid.accountdate}}</td>
                      </tr>
                      <tr class="table-primary" id = "err{{workunit.complid.id}}" style="display: none;" >
                        <th scope="row">Error</th>
                        <td>Enter valid date </td>
                      </tr>
                   <tr class="table-success">
                        <th scope="row" name="accountdate" id="champ">Champion</th>
                        <td>{{workunit.complid.cid.user}}</td>
                      </tr>
               <tr >
                <th scope="row" >Assign Account Date</th>
                <td><input type="date" name="accdate" id="accdate" required></td>
              </tr> 
        
                      </tbody>
                    </table>
    
                   
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-info"  >Save changes</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
              </div>
          
            </form>
          
            {% endif %}
              {% endfor %}
      
            </div>
    </div>
  </div>
{% endblock %}